    body,html {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        font-family: 'Nunito', sans-serif;
        background: #fff !important;
    }

    .highlighted-text {
        color: #BD2380;
    }

    .navbar {
        height: 100px;
    }

	nav ul {
		margin: 0;
		float: right;
	}

	.logo {
		width: 150px;
		height: 150px;
	}

	.nav-item {
		padding: 0 10px 0 10px;
	}

	.nav-link {
		color: #000;
        font-weight: bold;
	}

	.nav-link:hover {
		color: #BD2380;
	}

	.login-btn {
		/* margin: 0 5px 0 5px;
		color: #262228;
		border-radius: 20px;
		padding: 0 10px 0 10px;
		font-weight: bold; */
        margin: 3px 5px 0 5px !important;
        border: 1px solid #BD2380 !important;
        border-radius: 20px !important;
        color: #000 !important;
        padding: 5px 30px 5px 30px !important;
	}

	.login-btn:hover {
		/* margin: 0 5px 0 5px;
		border-radius: 20px;
		padding: 0 10px 0 10px;
		font-weight: bold; */
	}

	.signup-btn {
		/* margin: 0 5px 0 5px;
		background-color: #BD2380;
		color: #fff;
		border-radius: 20px;
		padding: 0 10px 0 10px;
		font-weight: bold; */
        background-color: #BD2380 !important;
        margin: 3px 5px 0 5px !important;
        border-radius: 20px !important;
        color: #fff !important;
        padding: 5px 30px 5px 30px !important;
	}

	.signup-btn:hover {
		/* margin: 0 5px 0 5px;
		background-color: #fff;
		color: #262228;
		border-radius: 20px;
		padding: 0 10px 0 10px;
		font-weight: bold; */
	}


    .jumbotron {
        padding-top: 20px !important;
		height: 700px;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-webkit-background-size: cover;
        background-image: linear-gradient(to right, #BD2380 , #712B8E);

	}

	.jumbotron #content {
		padding: 50px 0 0 0;
	}

	.jumbotron p {
		color: #fff;
	}

    .jumbotron .btn {
        background-color: #fff;
        border-radius: 20px;
        font-size: 15px;
    }

    .jumbotron .btn:hover {
        background-color: #712B8E;
        color: #fff;
        border-radius: 20px;
        font-size: 15px;
    }

    .jumbotron .card {
        width: 570px;
        height:600px;
    }

    .jumbotron .card h6 {
        color: #000;
    }

    .jumbotron .card h1 {
        color: #BD2380;
    }

    .jumbotron .card h3 {
        color: #BD2380;
    }

    .jumbotron .card #faq-nav {
        background-color: #fff;
        border-radius: 20px !important;
        width: 70%;
        padding: 6px 0 6px 0;
    }

    .jumbotron .card .nav-item {
        background-color: #fff;
        border-radius: 20px !important;
    }

    .jumbotron .card .nav-item .active {
        background-color: #E8E8ED;
        border-radius: 20px !important;
        color: #BD2380;
        padding: 5px 60px 5px 60px;
    }

    #okestra-intro {
        padding: 100px;
    }

    #okestra-intro h1 {
        font-size: 45px;
    }

    #okestra-intro p {
        font-size: 17px;
    }

    #okestra-intro .btn {
        border-radius: 20px;
        background-color: #BD2380;
        color: #fff;
        border: none;
        padding: 7px 30px 7px 30px;
    }

    #okestra-intro .btn:hover {
        border-radius: 20px;
        background-color: #fff;
        color: #000;
        border: 1px solid #BD2380;
        padding: 7px 30px 7px 30px;
    }

    #okestra-stats {
        padding: 100px 0 100px 0;
        background-image: linear-gradient(to right, #BD2380 , #712B8E);
        color: #fff;
    }

    #okestra-stats h2 {
        font-size: 45px;
    }

    #okestra-calculator {
        padding: 100px 0 100px 0;
    }

    #okestra-calculator h2 {
        font-weight: bold;
        padding-bottom: 30px;
    }

    #okestra-calculator .card {
        height: 600px;
        background-color: #E8E8ED;
        border: none;
    }

    #okestra-calculator .card-1 {
        background-color: inherit;
    }

    #okestra-calculator .card-2 {
        background-color: #BD2380;
    }

    #okestra-calculator .collaterals {
        border-radius: 20px !important;
        padding: 10px 30px 10px 30px;
    }

    #okestra-calculator #faq-nav {
        background-color: #fff;
        border-radius: 20px !important;
        width: 70%;
        padding: 6px 0 6px 0;
    }

    #okestra-calculator .nav-item {
        background-color: #fff;
        border-radius: 20px !important;
    }

    #okestra-calculator .nav-item .active {
        background-color: #E8E8ED;
        border-radius: 20px !important;
        color: #BD2380;
        padding: 5px 60px 5px 60px;
    }

    #okestra-calculator .calculator-btn {
        background-color: #fff;
        border-radius: 20px;
        padding: 10px 30px 10px 30px;
        color: #000;
        border: none;
    }

    #okestra-calculator .calculator-btn:hover {
        background-color: #E8E8ED;
        border-radius: 20px;
        padding: 10px 30px 10px 30px;
        color: #000;
        border: none;
    }





























    #access-cash-cta {
        background-color: #BD2380;
        padding: 100px 0 100px 0;
        color: #fff;
    }

    #access-cash-cta h1 {
        font-size: 65px;
    }

    #access-cash-cta .steps-list {
        list-style: none;
    }

    #access-cash-cta .steps-list li {
        padding: 20px 0 20px 0;
    }

    #access-cash-cta .steps-title {
        font-size: 22px;
        font-weight: bold;
    }

    #access-cash-cta .steps-description {
        font-size: 17px;
    }

    #access-cash-cta .steps-links {
        list-style: none;
    }

    #access-cash-cta .steps-links li {
        padding: 40px 0 40px 0;
        color: #dad8d8;
    }

    #access-cash-cta .steps-links li a {
        color: #dad8d8;
        text-decoration: underline;
    }

    #hidden-charges-cta {
        padding: 100px 0 100px 0;
        background-color: #e3e3e3;
    }

    #hidden-charges-cta h1 {
        font-size: 50px;
    }

    #hidden-charges-cta p {
        font-size: 17px;
    }

    #hidden-charges-cta .btn {
        border-radius: 20px;
        background-color: #fff;
        color: #000;
        padding: 7px 30px 7px 30px;
        border: none;
        font-weight: bold;
    }

    #hidden-charges-cta .btn:hover {
        border-radius: 20px;
        background-color: #BD2380;
        color: #fff;
        padding: 7px 30px 7px 30px;
        border: none;
        font-weight: bold;
    }

    #okestra-news {
        padding: 100px 0 100px 0;
    }

    #okestra-news .main-story img {
        width: 500px;
        height: 300px;
    }

    #okestra-news .main-story p {
        font-size: 16px;
    }

    #okestra-news .main-story a {
        color: #BD2380;
        font-weight: bold;
    }

    #okestra-news #news2 {
        padding-bottom: 30px;
    }

    #okestra-news #news2 img {
        width: 250px;
        height: 200px;
        padding-bottom: 10px;
    }

    #okestra-news #news2 p {
        font-size: 16px;
    }

    #okestra-news #news2 a {
        color: #BD2380;
        font-weight: bold;
    }

    #okestra-news #news3 img {
        width: 250px;
        height: 200px;
        padding-bottom: 10px;
    }

    #okestra-news #news3 p {
        font-size: 16px;
    }

    #okestra-news #news3 a {
        color: #BD2380;
        font-weight: bold;
    }

    #okestra-faq {
        background-color: #E8E8ED;
        padding: 100px 0 100px 0;
    }

    #okestra-faq h1 {
        padding-bottom: 30px ;
    }

    #okestra-faq #faq-nav {
        background-color: #fff;
        border-radius: 20px !important;
        width: 50%;
        padding: 10px 0 10px 0;
    }

    #okestra-faq .nav-item {
        background-color: #fff;
        border-radius: 20px !important;
    }

    #okestra-faq .nav-item .active {
        background-color: #E8E8ED;
        border-radius: 20px !important;
        color: #BD2380;
        padding: 5px 60px 5px 60px;
    }

    #okestra-faq .card {
        margin: 20px 0 20px 0;
        width: 800px;
        border-radius: 20px;
        border: 1px solid rgb(95, 94, 94);
    }

    #okestra-faq .card-header {
        background-color: #fff;
        height: 70px;
        padding-top: 0;
    }

    #okestra-faq h2 {
        font-size: 17px;
        color: #000;
    }

    #okestra-faq .card .fa {
        color: #BD2380;
        border: 1px solid #333;
        border-radius: 100%;
        padding: 10px;
        margin: 10px;
    }

    #okestra-faq .faq-titles {
        text-decoration: none;
        font-size: 16px;
    }

    #okestra-faq .faq-titles:hover {
        text-decoration: none;
        color: #BD2380;
    }

    #okestra-faq .faq-btn {
        background-color: #BD2380;
        color: #fff;
        border-radius: 20px;
        border: none;
        padding: 7px 30px 7px 30px;
    }

    #okestra-faq .faq-btn:hover {
        background-color: #712B8E;
        color: #fff;
        border-radius: 20px;
        border: none;
        padding: 7px 30px 7px 30px;
    }

    #newsletter-signup-cta {
        padding: 100px 0 100px 0;
    }

    #newsletter-signup-cta h1 {
        font-size: 50px;
    }

    #newsletter-signup-cta p {
        font-size: 17px;
    }

    #newsletter-signup-cta input {
        width: 400px;
        height: 50px;
        border-radius: 20px;
        padding: 15px 30px 15px 30px;
    }

    #newsletter-signup-cta .btn {
        background-color: #BD2380;
        color: #fff;
        border-radius: 20px;
        padding: 10px 30px 10px 30px;
        border: none;
    }

    #footer {
        background-color: #BD2380;
        padding: 100px 0 100px 0;
    }

    #footer .disclaimer {
        padding: 50px 0 0 0;
    }

    #footer .footer-links li {
        list-style: none !important;
        padding-right: 15px;
    }

    #footer .footer-links i {
        font-size: 16px;
        color: #fff;
    }

    #footer .footer-links i:hover {
        font-size: 16px;
        color: #712B8E;
    }

    #footer hr {
        border-color: #fff;
    }

    #footer .site-link {
        color: #6e6e6e;
        font-weight: bold;
    }



    /* PRODUCT PAGE STYLES */
    .products-jumbotron {
        padding: 100px 0 100px 0;
    }

    .products-jumbotron h1{
        color: #BD2380;
    }

    .products-jumbotron .intro-text{
        font-size: 16px;
    }

    .products-jumbotron i {
        color: #BD2380;
    }

    .products-jumbotron .btn {
        margin: 30px 0 0 0;
        border: none;
        background-color: #BD2380;
        color: #fff;
        border-radius: 20px;
        padding: 8px 40px 8px 40px;
        font-weight: bold;
        font-size: 16px;
    }


    .products-jumbotron .btn:hover {
        margin: 30px 0 0 0;
        background-color: #fff;
        border: 1px solid #BD2380;
        color: #000;
        border-radius: 20px;
        padding: 8px 40px 8px 40px;
        font-weight: bold;
        font-size: 16px;
    }



    #okestra-assets {
        padding: 100px 0 100px 0;
        background-color: #F6F6F6;
    }

    #okestra-assets h1 {
        font-weight: bold;
        font-size: 45px;
    }

    #okestra-assets p {
        color: #888;
        font-size: 16px;
    }

    #okestra-assets i {
        color: #BD2380;
    }

    #okestra-assets .asset-name {
        font-weight: bold;
        font-size: 25px;
    }











































    /* ABOUT PAGE STYLES */
    #okestra-team h1 {
        font-weight: bold;
    }

    #okestra-team .intro-text {
        font-size: 16px;
        width: 60%;
        margin: 0 0 0 200px;
    }

    /* #okestra-intro img {
        height: 200px;
        padding: 10px 0 50px 0 !important;
    } */

    #okestra-intro h3 {
        font-size: 40px;
    }

    #okestra-team {
        padding: 100px 0 100px 0;
        background-color: #E8E8ED;
    }

    #okestra-team .card {
        margin: 25px 0 25px 0;
    }

    #okestra-team img {
        width: 300px;
        height: 270px;
        padding: 0 0 20px 0;
    }

    #okestra-team h3 {
        font-weight: bold;
    }

    #okestra-contact {
        padding: 100px 100px 100px 100px;
    }

    #okestra-contact h2 {
        font-size: 50px;
    }

    #okestra-contact p {
        font-size: 16px;
    }

    #okestra-contact form input {
        margin: 20px;
        border-radius: none;
        border: 2px solid #BD2380;
        padding: 25px 10px 25px 10px;
        font-weight: bold;
    }

    #okestra-contact form textarea {
        margin: 20px;
        border-radius: none;
        border: 2px solid #BD2380;
        padding: 25px 10px 25px 10px;
        font-weight: bold;
    }

    #okestra-contact form .btn {
        background-color: #BD2380;
        border: none;
        border-radius: 20px;
        color: #fff;
        padding: 10px 45px 10px 45px;
        margin: 20px 0 0 300px;
        font-weight: bold;
    }

    #okestra-contact form .btn:hover {
        background-color: #fff;
        border: 1px solid #BD2380;
        border-radius: 20px;
        color: #000;
        padding: 10px 45px 10px 45px;
        margin: 20px 0 0 300px;
        font-weight: bold;
    }




    /* SUPPORT PAGE */

    #support-intro {
        background-color: #BD2380;
        padding: 50px 0 20px 0;
    }

    #support-intro h1 {
        color: #fff;
        font-size: 50px;
        padding-bottom: 0;
    }

    #support-intro .help-text {
        color: #fff;
        font-size: 25px;
        padding-top: 0;
    }

    #support-intro .search-bar {
        margin: 10px 0 0 200px;
        border-radius: 20px;
        border: none;
        width: 500px;
        font-weight: bold;
    }

    #support-categories {
        background-color: #E8E8ED;
        padding: 100px 0 100px 0;
    }

    #support-categories a {
        background-color: #fff;
        border: 1px solid #999;
        color: #000;
        font-weight: bold;
        margin: 20px 0 20px 0;
        padding: 20px 45px 20px 45px;
        border-radius: 20px;
        width: 350px;
    }

    #support-categories a:hover {
        background-color: #BD2380;
        border: none;
        color: #fff;
        font-weight: bold;
        margin: 20px 0 20px 0;
        padding: 20px 45px 20px 45px;
        border-radius: 20px;
        width: 350px;
    }

    #support-categories .active {
        background-color: #BD2380;
        border: none;
        color: #fff;
        font-weight: bold;
        margin: 20px 0 20px 0;
        padding: 20px 45px 20px 45px;
        border-radius: 20px;
        width: 350px;
    }
