body,html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}
    .navbar {
        height: 100px;
    }

	nav ul {
		margin: 0;
		float: right;
	}

	.logo {
		width: 150px;
		height: 150px;
	}

	.nav-item {
		padding: 0 10px 0 10px;
	}

	.nav-link {
		color: #000;
        font-weight: bold;
	}

	.nav-link:hover {
		color: #BD2380;
	}

	.login-btn {
		/* margin: 0 5px 0 5px;
		color: #262228;
		border-radius: 20px;
		padding: 0 10px 0 10px;
		font-weight: bold; */
        margin: 3px 5px 0 5px !important;
        border: 1px solid #BD2380 !important;
        border-radius: 20px !important;
        color: #000 !important;
        padding: 5px 30px 5px 30px !important;
	}

	.login-btn:hover {
		/* margin: 0 5px 0 5px;
		border-radius: 20px;
		padding: 0 10px 0 10px;
		font-weight: bold; */
	}

	.signup-btn {
		/* margin: 0 5px 0 5px;
		background-color: #BD2380;
		color: #fff;
		border-radius: 20px;
		padding: 0 10px 0 10px;
		font-weight: bold; */
        background-color: #BD2380 !important;
        margin: 3px 5px 0 5px !important;
        border-radius: 20px !important;
        color: #fff !important;
        padding: 5px 30px 5px 30px !important;
	}

	.signup-btn:hover {
		/* margin: 0 5px 0 5px;
		background-color: #fff;
		color: #262228;
		border-radius: 20px;
		padding: 0 10px 0 10px;
		font-weight: bold; */
	}


    .jumbotron {
		height: 700px;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-webkit-background-size: cover;
        background-image: linear-gradient(to right, #BD2380 , #712B8E);

	}

	.jumbotron #content {
		padding: 50px 0 0 0;
	}

	.jumbotron p {
		color: #fff;
	}

    .jumbotron .btn {
        background-color: #fff;
        border-radius: 20px;
        font-size: 15px;
    }

    .jumbotron .btn:hover {
        background-color: #712B8E;
        color: #fff;
        border-radius: 20px;
        font-size: 15px;
    }

    .jumbotron .card {
        height: 450px;
    }

